.container__main {
  display: flex;
  width: 100%;
  height: 650px;
}

.container__items {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.label__main {
  display: flex;
  flex-direction: column;
  margin: 155px -440px 0px 10%;
  text-align: left;
  z-index: 1;
  width: 327px;
}

.title__main {
  font-size: 38px;
  font-weight: bold;
  position: relative;
  width: 100%;
}

.description__main {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.3;
  font-size: 16px;
  width: 100%;
  color: hsl(0, 2%, 47%);
}

.description {
  display: flex;
  width: 100%;
}

.image__phone {
  background: url("./../../assets/images/image-mockups.png") no-repeat;
  position: absolute;
  width: 100%;
  height: 800px;
  zoom: 80%;
  background-position: 109% 85%;;
  z-index: 0;
}

.image__main {
  background: url("./../../assets/images/bg-intro-desktop.svg") no-repeat right;
  height: 720px;
  width: 52%;
  background-position: 11% 80%;
  background-size: auto;
  zoom: 80%;
}

.button__header {
  display: flex;
  border-radius: 25px;
  height: 33px;
  width: 132px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #31d35c 0%, #2bb7da 87%);
  border: 0;
  padding: 20px;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 0.5;
  }
}

.span__header {
  font-size: 12px;
  color: white;
}

// container2
.container__easy__bank {
  display: flex;
  width: 100%;
  height: 650px;
  background:  hsl(0, 0%, 98%);
}

.contaier__items__easy__bank {
  display: flex;
  flex-direction: column;
}

.title__easy__bank {
  display: flex;
  font-size: 47px;
  font-weight: bold;
  margin-bottom: 20px;
}

.span__desciption__easy__bank {
  display: flex;
  color: hsl(0, 2%, 47%);
  width: 500px;
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 30px;
}

// Choose

.master__item {
  display: flex;
  flex-direction: column;
  width: 79%;
  margin: 75px auto;
}

.container__chose {
  display: flex;
  width: 100%;
  height: 250px;
}

.container__items__chose {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 35px;
}

.items__chose {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 205px;
}

.container__choose__items {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.image__chose {
  display: flex;
  width: 100%;
  height: 100px;
}

.--online {
  background: url('./../../assets/images/icon-online.svg') no-repeat;
}

.--simple {
  background: url('./../../assets/images/icon-budgeting.svg') no-repeat;
}

.--fast {
  background: url('./../../assets/images/icon-onboarding.svg') no-repeat;
}

.--api {
  background: url('./../../assets/images/icon-api.svg') no-repeat;
}

.title__chose {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 13px;
}

.description__choose {
  font-size: 14px;
  line-height: 1.4;
  width: 100%;
  color: rgb(68, 65, 65);
}

// Articles
.title__articles__container {
  font-size: 47px;
  font-weight: bold;
  margin-bottom: 15px;
}

.--border {
  background: hsl(0, 0%, 98%);
}

.items__articles {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 250px;
}

.image__articles {
  display: flex;
  width: 100%;
  height: 150px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.wrap__articles {
  margin: 17px;
}

.autors__articles {
  font-size: 11px;
}

.title__articles {
  width: 95%;
  margin: 10px 0px 10px 0px;
  font-size: 16px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;

  &:hover {
    color: hsl(136, 65%, 51%);
    cursor: pointer;
  }
}

.description__articles {
  width: 100%;
  font-size: 14px;
  color: rgb(70, 69, 69);
}

.--money {
  background: url('./../../assets/images/image-currency.jpg') no-repeat;
  background-size: cover;
}

.--treat {
  background: url('./../../assets/images/image-restaurant.jpg') no-repeat;
  background-size: cover;
}

.--plan {
  background: url('./../../assets/images/image-plane.jpg') no-repeat;
  background-size: cover;
}

.--beta {
  background: url('./../../assets/images/image-confetti.jpg') no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1440px) {
  .image__phone {
    zoom: 82%;
    background-position: 115% 80%;
  }

  .label__main {
    width: 427px;
  }

  .title__main  {
    font-size: 47px;
  }

  .description__main {
    font-size: 18px;
  }
}

@media screen and (max-width: 1000px) {
  .image__phone {
    background-position: 145% 80%;
  }
}

@media screen and (max-width: 900px) {
  .image__main {
    background: url("./../../assets/images/bg-intro-mobile.svg") no-repeat center;
    height: 325px;
    width: 100%;
    position: absolute;
    background-size: cover;
    zoom: 100%;
  }

  .description {
    width: 90%;
    margin: 0 auto;
    font-size: 16px;
  }

  .title__easy__bank {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    font-size: 30px;
  }

  .span__desciption__easy__bank {
    width: 90%;
    margin: 0 auto;
    font-size: 16px;
    margin-top: 20px;
  }

  .container__easy__bank {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .container__items__easy__bank {
    margin: 30px auto;
    width: 90%;
  }

  .image__phone {
    zoom: 51%;
    background-position: 50% 187%;
  }

  .label__main {
    margin: initial;
    text-align: center;
    width: 100%;
    margin-top: 360px;
    align-items: center;
  }

  .title__main {
    margin-bottom: 20px;
    font-size: 40px;
    width: 300px;
  }

  .button__header {
    margin-top: 20px;
  }

  .description__main {
    width: 85%;
    margin: 0 auto;
    line-height: 1.3;
    font-size: 16px;
    text-align: justify;
    color: #7a7575;
  }
}

@media screen and (max-width: 770px) {
  .label__main {
    margin-top: 315px;
  }

  .image__phone {
    zoom: 43%;
  }

  .container__chose {
    flex-direction: column;
    height: 1330px;
  }

  .container__items__easy__bank {
    width: initial;
  }

  .container__easy__bank {
    height: 1330px;
  }

  .mobile {
    height: 1530px;
  }

  .container__items__chose {
    flex-direction: column;
    align-items: center;
  }

  .items__chose {
    width: 95%;
  }

  .--online,
  .--simple,
  .--fast,
  .--api {
    background-position: center
  }

  // Articles
  .title__articles__container {
    font-size: 30px;
  }

  .items__articles {
    margin-bottom: 40px;
    width: 95%;
    text-align: left;
  }
}


