<!-- Header -->
<app-header></app-header>

<div class="container__main">
  <div class="container__items">
    <div class="label__main">
      <span class="title__main">
        Next generation digital banking
      </span>
      <div class="description__main">
        <span class="">Take your financial life online. Your Easybank account will be a one-stop for spending, saving budgeting, investing, and much more.</span>
      </div>
      <button class="button__header">
        <span class="span__header">Request Invite</span>
      </button>
    </div>
    <div class="image__main">
    </div>
    <div class="image__phone">
    </div>
  </div>
</div>
